/03DataVisualization/mid-process-data-files/next-day-wildfire-spread
/03DataVisualization/mid-process-data-files/next-day-wildfire-spread.zip
/03DataVisualization/pickle-files
/03DataVisualization/next-day-wildfire-spread
cae-venv